doctype html
head
  link(href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel='stylesheet')
  style
    include ../../css/styles.css

include ../partials/sidenav

include ../partials/topnav

// Page content
.main
  .container
    button#defaultOpen.tablink Statistics
    button.tablink Active Games
    button.tablink Game History

    // todo This button won't open a tab, but will send a friend request to the user. Will be remove friend if already friends
    button.tablink Add Friend

    .tabcontent(id='Statistics')
      table#statisticsTable.myTable-no-hover
        tr.header
          th Games
          th Wins
          th Losses
          th Draws
          th W/L %

    .tabcontent(id='Active Games')
      input#gameactiveInput.search-input(type='text' placeholder='Search usernames')
      table#activegameTable.myTable
        tr.header
          th Opponent
          th Status
          th Spectate

    .tabcontent(id='Game History')
      input#gamehistoryInput.search-input(type='text' placeholder='Search usernames')
      // These tables will be populated by grabbing an array from a server later
      table#gamehistoryTable.myTable
        tr.header
          th Opponent
          th Outcome
          th Replay Link

//I am unsure of how to directly use this variable in the external clientside js.
script(type="text/javascript").
  var playerProfile = !{JSON.stringify(user)}

script(src="../../javascript/communityProfile.js")