.sidenav
  .sidenav-logo
    | Connect-4
  a(href='/') Dashboard
  a(href='/newgame') New Game
  a(href='/mygames') My Games
  a(href='/friends') Friends
  a(href='/community') Community  
  
  script(src="../../javascript/sidenav.js")